body, html {
  height: 100%;
}

body {
  margin: 0%;
}

@media (min-width: 445px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

img {
  width: 100%;
}

.head {
  border-bottom-left-radius: 100px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to bottom right, #ff8f70, #ff3d54);
  position: relative;
  z-index: 1;
  color: #fff;
  height: auto;
  padding-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.head #bgimg {
  width: 100em;
  margin-top: -120%;
  margin-left: -130%;
  overflow: hidden;
  position: absolute;
}

@media (min-width: 445px) {
  .head #bgimg {
    width: 150em;
    margin-top: -60%;
    margin-left: -20%;
  }
}

@media (min-width: 445px) {
  .head .content {
    width: 90%;
    margin: auto;
    padding-top: 2em;
  }
}

.head h1 {
  position: relative;
  padding: 20px;
  margin-top: 0;
}

@media (min-width: 445px) {
  .head h1 {
    margin-left: 0%;
    width: 10%;
    margin-right: 0;
    float: left;
    font-size: 50px;
  }
}

.head .nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: relative;
  top: 2rem;
  width: 2.5rem;
  z-index: 2;
  float: right;
}

@media (min-width: 445px) {
  .head .nav-toggle {
    display: none;
  }
}

.head .nav-toggle-bar, .head .nav-toggle {
  margin-right: 15%;
  margin-top: -27%;
}

@media (min-width: 445px) {
  .head .nav-toggle-bar, .head .nav-toggle {
    display: none;
  }
}

.head .nav-toggle .nav-toggle-bar, .head .nav-toggle .nav-toggle-bar::after, .head .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 0.3rem;
  width: 100%;
}

@media (min-width: 445px) {
  .head .nav-toggle .nav-toggle-bar, .head .nav-toggle .nav-toggle-bar::after, .head .nav-toggle .nav-toggle-bar::before {
    display: none;
  }
}

.head .nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.head .nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.head .nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.head .nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.head .nav-toggle.expanded .nav-toggle-bar::after, .head .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.head .nav-toggle.expanded .nav-toggle-bar::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.head .nav-toggle.expanded .nav-toggle-bar::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.head .nav {
  background-color: #fff;
  color: black;
  cursor: pointer;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  width: 90%;
  margin: auto 5%;
  z-index: 3;
  font-size: 1.5em;
  border-radius: 10px;
  display: none;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 445px) {
  .head .nav {
    display: block;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: white;
    position: relative;
  }
}

.head .show {
  display: block;
}

.head .nav ul {
  position: relative;
  list-style: none;
  margin: 0%;
  padding: 0;
}

@media (min-width: 445px) {
  .head .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-left: 10%;
  }
}

.head .nav ul li {
  padding: 20px;
  display: block;
}

.head .nav ul li .nav2-elements {
  display: none;
  position: relative;
  padding: 20px;
  background-color: #dfdfdf;
  color: black;
  border-radius: 10px;
}

.head .nav ul li .show2 {
  display: block;
}

.head .nav ul li .nav3-elements {
  display: none;
  position: relative;
  padding: 20px;
  background-color: #dfdfdf;
  color: black;
  border-radius: 10px;
}

.head .nav ul li .show3 {
  display: block;
}

.head .nav ul li .nav4-elements {
  display: none;
  position: relative;
  padding: 20px;
  background-color: #dfdfdf;
  color: black;
  border-radius: 10px;
}

.head .nav ul li .show4 {
  display: block;
}

.head .nav ul img {
  width: 10px;
  height: 8px;
}

.head hr {
  width: 80%;
  margin: 10% auto;
}

@media (min-width: 445px) {
  .head hr {
    display: none;
  }
}

.head p {
  margin-top: 2em;
  cursor: pointer;
  font-weight: bolder;
}

@media (min-width: 445px) {
  .head p {
    float: right;
    margin-top: 2%;
    font-weight: normal;
    font-size: 18px;
  }
}

.head p #one {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 0 auto;
  background-color: none;
  color: #1f3f5b;
}

@media (min-width: 445px) {
  .head p #one {
    color: #fff;
  }
}

.head p #two {
  padding: .7em 2em;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2em;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to bottom right, #ff8f70, #ff3d54);
  color: #fff;
  border-radius: 90px;
}

@media (min-width: 445px) {
  .head p #two {
    background-color: #fff;
    background-image: none;
    color: #ff3d54;
    padding: .5em 1em;
  }
}

.head .text {
  text-align: center;
  position: relative;
  z-index: 1;
  width: 90%;
  margin: 6em auto 4em auto;
}

@media (min-width: 445px) {
  .head .text {
    clear: both;
    display: -ms-grid;
    display: grid;
    text-align: center;
    margin: 10em auto 2em auto;
    width: 70%;
  }
}

.head .text h1 {
  margin-bottom: 0;
  font-size: 34px;
}

@media (min-width: 445px) {
  .head .text h1 {
    width: 100%;
    text-align: center;
    font-size: 60px;
  }
}

@media (min-width: 445px) {
  .head .text h1 br {
    display: none;
  }
}

.head .text p {
  font-weight: normal;
  text-align: center;
  margin: 0em auto 0em auto;
  line-height: 25px;
  font-size: 24px;
}

@media (min-width: 445px) {
  .head .text p {
    float: none;
  }
}

.head .text .buttons {
  padding-top: 3em;
  padding-bottom: 7em;
  cursor: pointer;
}

.head .text .buttons #btn {
  padding: 1em 2em;
  border-radius: 90px;
  border: none;
  font-weight: bolder;
  color: #ff525d;
  margin-right: 2%;
  margin-left: -1%;
}

.head .text .buttons #btn1 {
  padding: 1em 2em;
  border-radius: 90px;
  border-color: white;
  border-style: solid;
  color: white;
  background: transparent;
  font-weight: bolder;
}

.container {
  text-align: center;
}

@media (min-width: 445px) {
  .container {
    position: relative;
    margin-top: 15em;
  }
}

.container .mobimg {
  background-image: url("../images/illustration-editor-mobile.svg");
  height: 15em;
  width: 100%;
  margin-left: -5%;
  padding-bottom: 7em;
  background-repeat: no-repeat;
}

@media (min-width: 445px) {
  .container .mobimg {
    background-image: url("../images/illustration-editor-desktop.svg");
    height: 50em;
    width: 48%;
    margin-left: 55%;
    margin-top: -10%;
  }
}

@media (min-width: 445px) {
  .container .texts {
    display: -ms-grid;
    display: grid;
    width: 50%;
    margin-top: -60%;
    text-align: left;
  }
}

@media (min-width: 445px) {
  .container h1 {
    padding-bottom: 2em;
  }
}

.container h2 {
  font-size: 1.5em;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

@media (min-width: 445px) {
  .container h2 {
    font-size: 30px;
    margin: 1em 2em;
  }
}

.container p {
  width: 70%;
  margin: auto;
  line-height: 30px;
}

@media (min-width: 445px) {
  .container p {
    margin: 1em 4em;
    line-height: 35px;
  }
}

@media (min-width: 445px) {
  .container .text {
    text-align: left;
    margin-top: 15%;
    margin-bottom: 10%;
  }
}

.container1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2c2d3f), to(#3f4164));
  background-image: linear-gradient(to bottom right, #2c2d3f, #3f4164);
  margin-top: 17em;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  color: #fff;
}

@media (min-width: 445px) {
  .container1 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#2c2d3f), to(#3f4164));
    background-image: linear-gradient(to bottom right, #2c2d3f, #3f4164);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    color: #000;
    margin: 35% 0% 0% 0%;
  }
}

.container1 .bggrident {
  overflow: hidden;
  border-top-right-radius: 100px;
}

@media (min-width: 445px) {
  .container1 .bggrident {
    height: 15em;
  }
}

.container1 .bggrident img {
  position: relative;
  margin-top: -70%;
  margin-left: -28%;
  width: 35em;
  height: 35em;
  z-index: 1;
}

@media (min-width: 445px) {
  .container1 .bggrident img {
    margin-left: -10%;
    position: relative;
    z-index: 1;
    margin-top: -30%;
    width: 50em;
    height: 50em;
  }
}

.container1 #grid {
  position: relative;
  z-index: 3;
}

@media (min-width: 445px) {
  .container1 #grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container1 #grid img {
  margin: -85% 0 0 0;
  width: 20em;
  height: 20em;
  position: absolute;
  z-index: 3;
}

@media (min-width: 445px) {
  .container1 #grid img {
    position: relative;
    color: black;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-top: -33%;
    height: 30em;
  }
}

@media (min-width: 445px) {
  .container1 #grid .text {
    margin-top: 50%;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-left: 5%;
  }
}

.container1 #grid h1 {
  color: #fff;
  margin: -40% auto auto auto;
  width: 70%;
  text-align: center;
}

@media (min-width: 445px) {
  .container1 #grid h1 {
    margin-top: -20%;
    text-align: left;
    margin-left: 30%;
  }
}

.container1 #grid p {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 6em;
  line-height: 24px;
  color: white;
}

@media (min-width: 445px) {
  .container1 #grid p {
    width: 50%;
    text-align: left;
    margin-left: 30%;
    line-height: 30px;
  }
}

@media (min-width: 445px) {
  .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10%;
  }
}

.container2 .img {
  background-image: url("../images/illustration-laptop-mobile.svg");
  height: 15em;
  width: 100%;
  margin-left: -15%;
  padding-bottom: 7em;
  background-repeat: no-repeat;
}

@media (min-width: 445px) {
  .container2 .img {
    width: 100%;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    height: 52em;
    margin-top: -5%;
    padding: 0;
    background-image: url("../images/illustration-laptop-desktop.svg");
  }
}

@media (min-width: 445px) {
  .container2 .texts {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    margin-top: 5%;
    text-align: left;
  }
}

.container2 #text h3 {
  color: #1f3f5b;
  margin: auto auto auto auto;
  font-size: 1.5em;
  width: 65%;
  margin-top: 10%;
  text-align: center;
}

@media (min-width: 445px) {
  .container2 #text h3 {
    text-align: left;
  }
}

.container2 #text p {
  width: 70%;
  text-align: center;
  margin: auto auto auto auto;
  padding-top: 20px;
  line-height: 24px;
}

@media (min-width: 445px) {
  .container2 #text p {
    text-align: left;
    margin-left: 17%;
  }
}

.container2 #text2 h3 {
  color: #1f3f5b;
  margin: auto auto auto auto;
  font-size: 1.5em;
  width: 65%;
  margin-top: 10%;
  text-align: center;
}

@media (min-width: 445px) {
  .container2 #text2 h3 {
    text-align: left;
  }
}

.container2 #text2 p {
  width: 70%;
  text-align: center;
  margin: auto auto auto auto;
  padding-top: 20px;
  line-height: 24px;
}

@media (min-width: 445px) {
  .container2 #text2 p {
    text-align: left;
    margin-left: 17%;
  }
}

.footer {
  background-color: #25252d;
  text-align: center;
  color: #fff;
  padding: 2em;
  margin-top: 20%;
  border-top-right-radius: 100px;
}

@media (min-width: 445px) {
  .footer {
    padding-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer h1 {
  padding-bottom: 2em;
}

@media (min-width: 445px) {
  .footer h1 {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
}

.footer ul {
  list-style: none;
  text-align: center;
  width: auto;
  padding-bottom: 2em;
  margin-left: -10%;
}

@media (min-width: 445px) {
  .footer ul {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
}

.footer ul li {
  padding-bottom: 1em;
  color: #cecece;
}

.footer ul li strong {
  padding-bottom: 3em;
  color: #fff;
  margin-bottom: 10%;
}
/*# sourceMappingURL=style.css.map */